<div class="portfolio-component">
  <div class="my-portfolio">

    <div class="my-portfolio-top">
      <div class="title"> My Portfolio</div>

      <div class="refresh-rate">
        <div class="refresh-rate-text">Refresh Rate: (seconds)</div>
        <mat-form-field>
          <mat-select [(ngModel)]="selectedRate">
            <mat-option *ngFor="let second of seconds" [value]="second">{{second}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="stock-to-show">
      <div class="stock-info" *ngFor="let stock of selectedStocks">
        <app-stock-info [stockName]="" [stock]="stock" (itemRemoved)="onItemRemoved($event)"></app-stock-info>
      </div>
    </div>

  </div>

  <div class="stocks-selector">
    <div class="title">Stocks Selector</div>
    <mat-form-field>
      <mat-label>Select stock</mat-label>
      <mat-select (selectionChange)="onSelectSymbol($event.value)">
        <mat-option *ngFor="let stock of stocksList" [value]="stock">
          {{stock}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
